<style>
  .title {
    margin: 1em;
    text-align: center;
  }

  .subtitle {
    margin: 2em;
    text-align: center;
  }

  .login {
    margin: 0 auto;
    max-width: 32em;
  }

  .login #loginOtp {
    display: none;
  }

  #loginForm.is-twofactor #loginOtp {
    display: block
  }
</style>

<h1 class="title">{{hostname}}</h1>

{% if no_users_exist or no_admins_exist %}
<div class="row">
<div class="col-md-offset-2 col-md-8">
  {% if no_users_exist %}
  <p class="text-danger">There are no users on this system! To make an administrative user,
  log into this machine using SSH (like when you first set it up) and run:</p>
  <pre>cd mailinabox
sudo management/cli.py user add me@{{hostname}}
sudo management/cli.py user make-admin me@{{hostname}}</pre>
  {% else %}
  <p class="text-danger">There are no administrative users on this system! To make an administrative user,
  log into this machine using SSH (like when you first set it up) and run:</p>
  <pre>cd mailinabox
sudo management/cli.py user make-admin me@{{hostname}}</pre>
  {% endif %}
  <hr>
</div>
</div>
{% endif %}

<p class="subtitle">Log in here for your Mail-in-a-Box control panel.</p>

<div class="text-center">
  <button class="btn btn-success" style="width:20em" onclick="oauth_login(document.getElementById('loginRemember').checked)">Login</button>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="loginRemember">Keep me signed in
    </label>
  </div>
</div>

<script>

function oauth_login(rememberMe) {
  // ssi: "stay signed in"
  var state = `ssi:${rememberMe ? 1 : 0}`;
  window.location = '{{oauth["oauth_login_url"]}}?'+
        'response_type=code&'+
        'client_id={{oauth["client_id"]}}&'+
        'scope=miabldap-console introspect&'+
        'redirect_uri={{oauth["authorize_url"]}}&'+
        `state=${state}`;
}

function show_login() {
}

function show_hide_menus() {
  var is_logged_in = (api_credentials != null);
  var privs = api_credentials ? api_credentials.privileges : [];
  $('.if-logged-in').toggle(is_logged_in);
  $('.if-logged-in-admin, .if-logged-in-not-admin').toggle(false);
  if (is_logged_in) {
    $('.if-logged-in-not-admin').toggle(true);
    privs.forEach(function(priv) {
      $('.if-logged-in-' + priv).toggle(true);
      $('.if-logged-in-not-' + priv).toggle(false);
    });
  }
  $('.if-not-logged-in').toggle(!is_logged_in);
}
</script>
