<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Authorization - MiaB-LDAP </title>
    <base href="/miab-ldap/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="/admin/ui-common/ui-bootstrap.css">
    
    <!-- vue and axios -->
    <!-- script src="https://cdn.jsdelivr.net/npm/vue@2"></script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios"></script>

    <script>axios.defaults.baseURL="/miab-ldap/"</script>
    
    <!-- our scripts -->
    <script src="/admin/ui-common/bi-components.js"></script>
    <script src="/admin/ui-common/page-layout.js"></script>
    <script src="/admin/ui-common/page-header.js"></script>
    <script src="user/ui/authorization-classes.js"></script>
    <script src="user/ui/login-component.js"></script>
    <script src="user/ui/error-msgs-component.js"></script>
    <script src="oauth/ui/authorization-page.js"></script>
  </head>
    
  <body onload="new Vue(auth_page)">

    <page-layout id="auth_page">
      
      <template v-slot:header>
        <page-header
          :header_text="(me ? me.server_hostname : 'Mail-In-A-Box') + ' Authorization Server'"
          :loading_counter="loading">
          <template v-slot:links>
            <div>
              <a href="user/profile" target="profile">my account <bi name="box-arrow-up-right"></bi></a>
            </div>
          </template>
        </page-header>
      </template>
      
      
      <!-- 
        -- show error messages, if any 
        -->
      <error-msgs ref="error_msgs"></error-msgs>
      
      
      <!--
        -- once the server returns the current state, display
        -- the appropriate form
        -->
      <div v-if="me && clientinfo">
        
        <div class="border text-center">
          <h3>
            {{ clientinfo.client_name }} is requesting access to your account
          </h3>
          <h5 :class="{'text-danger':scope.danger}" v-for="scope in clientinfo.scope_properties">
            <bi name="exclamation-diamond-fill" v-if="scope.danger"></bi>{{ scope.desc }}
          </h5>
        </div>
        
        
        <!-- 
          -- authenticate user if not logged in
          -->
        <login v-if="! me.is_authenticated()" class="mt-3"
               :error_handler="$refs.error_msgs"
               login_message="Only log in if you wish to allow such access by entering your credentials below:"
               v-on:loading="loading+=$event"
               v-on:success="do_consent"
               ></login>
        
        <!-- 
          -- consent only when already logged in
          -->
        <form v-else class="mt-3">
          
          <div class="font-italic mt-2 text-center">
            Only consent if you wish to allow such access
          </div>
          <div class="form-group mt-4 text-center">
            <button class="btn btn-primary" @click.prevent="do_consent"> Grant Access </button>
          </div>
          
        </form>
        
        
        <!--
          -- post-back form to confirm consent and trigger redirection
          -- to the OAuth2 client
          -->
        <form class="invisible authorize-postback" method="post" action="">
          <input type="hidden" name="consent" value="true">
        </form>
        
      </div>
      
    </page-layout>
    
  </body>
</html>

